* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: calc(100% - 10%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contener-accueil {
    text-align: center;
}

.contener-flex {
    color: white;
    background-color: rgb(203, 188, 178);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 20%;
    height: 50%;
    box-shadow: rgb(0, 0, 0) 0px 0px 20px;
    font-family: "HKGrotesk-Regular";
    padding: 1%;
}

.contener-flex form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0%;
    width: 100%;
    height: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
}

.login-container-zwei {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.login-container select {
    border: 1px solid rgb(203, 188, 178);
    border-radius: 20px;
    color: rgb(203, 188, 178);
    outline: none;
    padding: 3%;
    width: 100%;
    height: 25%;
}

.login-container textarea {
    border: 1px solid rgb(203, 188, 178);
    border-radius: 20px;
    color: rgb(203, 188, 178);
    outline: none;
    padding: 3%;
    width: 100%;
    height: 50%;
}

.login-container textarea::placeholder {
    color: rgb(203, 188, 178);
}

.btn-submit {
    background-color: white;
    border: 1px solid rgb(203, 188, 178);
    border-radius: 20px;
    color: rgb(203, 188, 178);
    outline: none;
    padding: 3%;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "HKGrotesk-Regular";
    src: url('../font/HKGrotesk-Regular.otf');
}